.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: url(../../img/holographic-circuit-board-0amzahbmmp2bg9u6.jpg);
  background-attachment: fixed;
  color: white !important;
}

#resumePic {
  width: 60%;
}

@media (max-width: 791px) {
  #resumePic {
    width: 75%;
  }
}

@media (max-width: 450px) {
  #resumePic {
    width: 100%;
  }
}

@media (max-width: 650px){
  #resumeBtn {
  width: 200px
  }}

  @media (max-width: 450px){
    #resumeBtn {
    width: 175px;
    }}