.form {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: url(../../img/holographic-circuit-board-0amzahbmmp2bg9u6.jpg);
  background-attachment: fixed;
  height: 100vh;
  z-index: 1;
}

.formText {
  color: aliceblue;
}

.contact-heading {
  padding-bottom: 20px;
}

.names {
  padding-top: 10px;
  padding-bottom: 10px;
}

#messageDisplay {
  font-size: 1.5rem;
  color: white;
}

#contact-btn {
  background-color: #05dbf7;
}
